<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Index</title>
   </head>

   <body>


      <h1>Book Index</h1>
      <ul>
         <% for (let book of books){ %>
         <li> <a href="/index/<%=book._id%>"> <%= book.name %> </a> </li>
         <% } %>
      </ul>
   </body>


</html>